/*Set inicial*/
* {
    font-family: "Poppins", sans-serif;
    color: #42464D;
    list-style: none;
    scrollbar-width: auto;
    scrollbar-color: #e8772e #ffffff;
}
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #e8772e;
    border-radius: 5px;
    border: 2px solid #ffffff;
}
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}
strong {
    color: #42464D;
}
span.material-symbols-outlined {
    user-select: none;
}
.container1400 {
    width: 1400px;
    margin: 0 auto;
}
.container1330 {
    max-width: 1330px;
    margin: 0 auto;
}
.sectionTopic {
    display: flex;
    align-items: center;
}
.sectionTopic span {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 20px;
    color: #E8772E;
}
/* HEADER */
header {
    background-color: #E8772E;
}
.header {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
    min-height: 75px;
    justify-content: space-between;
    align-items: center;
}
.barraPesquisa {
    display: flex;
    align-items: center;
    width: 60%;
}
.barraPesquisa form {
    width: 100%;
    display: flex;
}
.barraPesquisa span {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0079E9;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.barraPesquisa input {
    background-color: #fff;
    height: 30px;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    padding-left: 15px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.menuLateral {
    color: #fff;
    font-size: 30px;
}
span.menuLateral:hover {
    cursor: pointer;
}
.entrarOuCad {
    display: flex;    
    align-items: center;
    width: 180px;
}
.entrarOuCad p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.entrarOuCad a {
    font-size: 12px;
    color: #fff;
}
.entrarOuCad a:hover {
    text-decoration: underline;
}
.entrarOuCad span {
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
}
.entrarOuCad .sessionInfo {
    display: flex;
    flex-direction: column;
}
.sessionInfo p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.linksUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linksUser a {
    height: 25px;
    max-width: 55px;
}
.linksUser span {
    color: #fff;
    font-size: 25px;
}
.linksUser .fav {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 30px;
}
.carrinhoIco {
    margin-left: -10px;
}
.carrinhoIco::before {
    content: "";
    display: block;
    width: 10px;
    height: 12px;
    border-radius: 50%;
    background-color: #0079E9;
    position: relative;
    float: left;
    left: 35px;
    bottom: 10px;
}
/*Menu lateral*/
.mLateral {
    display: none;
}
.mLateral.aberto{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
}
html:has(.mLateral.aberto) {
    height: 100%;
    overflow-y: hidden;
}
html:has(.mLateral.aberto) .ant{
    display: none;
}
html:has(.mLateral.aberto) label {
    background-color: transparent;
}
.mLateral.aberto .menuLateralOpen {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: #E8772E;
    z-index: 10;
    padding: 20px;
    animation: slideInMenuLateral .2s linear;
}
.menuLateralOpen span {
    color: #fff;
}
.menuLateralOpen .ola {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuLateralOpen h2 {
    padding: 10px;
    color: #fff;
    font-size: 1.3rem;
}
.menuLateralOpen h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
}
.menuLateralOpen span:hover {
    cursor: pointer;
}.menuLateralOpen .departamentosMenuLateral {
    margin-left: 20px;
}
.departamentosMenuLateral .depNome {
    display: flex;
    align-items: center;
}
.departamentosMenuLateral .depNome p {
    margin: 0;
    color: #fff;
}
.menuLateralOpen ul {
    padding: 0;
}
.menuLateralOpen li {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}
.menuLateralOpen li a {
    margin-left: 15px;
    color: #E6E6E6;
    font-size: 14px;
    font-weight: 500;
}
.categoriaMenuLateral a:hover {
    color: #fff;
    font-weight: 700;
}
.menuLateralOpen .btnEntrar {
    margin-top: 15px;
    text-align: center;
    background-color: #0079E9;
    border-radius: 5px;
    padding: 5px;
}
.menuLateralOpen .btnEntrar a {
    padding: 10px 100px;
    color: #fff;
}
.mLateral.aberto .menuLateralOverlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #222;
    opacity: 0.5;
    filter: blur(3px);
    animation: fadeInMenuLateral .3s linear;
}
/*Main section index*/
.bannerIntro {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0035E7;
} 
.introIndex {
    background-color: #E6E6E6;
    max-width: 1400px;
    margin: 0 auto;
}
.recomendBar {
    background-color: #E8772E;
    margin-top: 40px;
}
.introIndex h2 {
    font-size: 20px;
}
h2.tituloSection {
    margin-left: 25px;
    padding: 10px;
}
.recomendBar h2 {
    color: #fff;
}
/*Produtos recomandados*/
.recomendadosProdutos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.produtos {
    max-width: 237px;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.produtos img {
    margin: 0 auto;   
    padding-top: 10px;
}
.produtos p.nome {
    display: -webkit-box;
    text-overflow: ellipsis;
    font-weight: 600;
    line-height: 1.125rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    justify-self: flex-start;
}
.produtos p.preco {
    color: #E8772E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.produtos p.avisoPix {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #7f858d;
}
.produtos a.comprar {
    text-align: center;
    padding: 5px;
    background-color: #E8772E;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.prox,.ant {
    display: flex;
    align-items: center;
}
.ant span, .prox span {
    font-size: 30px;
    text-align: center;
}
.ant span:hover, .prox span:hover{
    cursor: pointer;
    background-color: #7070702c;
    border-radius: 50%;
}
/**/
.introIndex .banner {
    margin: 0 auto;
    border-radius: 5px;
    width: 1330px;
}
/*Marcas recomendadas*/
.marcasRecomendadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.marcasRecomendadas .marca {
    display: flex;
    min-width: 185px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}
.marcasRecomendadas .marca img {
    padding: 15px;
    width: 115px;
    height: 45px;
    padding-bottom: 0;
}
.marcasRecomendadas .marca h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-transform: uppercase;
}
.marcasRecomendadas p.btn {
    padding: 5px;
    background-color: #E8772E;
    border-radius: 5px;
    margin-top: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}
/*Departamentos*/
.departamentos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.departamento {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.departamento h2 {
    margin: 10px 0;
}
/*Produtos mais acessados*/
.produtosMaisAcessados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produtosHistorico {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.produtosHistorico .ant {
    margin-left: 3px;
}
/*Produto*/
.sectionProds {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.secProduto {
    display: flex;
    align-items: center;
}
.produto {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-top: 0;
    margin-right: 25vh;
}
.tituloProduto {
    font-size: 24px;
    font-weight: 700;
}
.produto .infoGeral {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.infoGeral .space {
    width: 1px;
    height: 30px;
    background-color: #7f858d6e;
}
.infoGeral .nota {
    display: flex;
    align-items: flex-start;
}
.infoGeral .nota p {
    font-size: 13px;
    color: #7f858d;
    padding: 3px;
    margin: 0;
}
.nota span {
    font-size: 22px;
    color: #E8772E;
}
.infoGeral span.fav {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    color:#7F858D
}
span.fav.favorito {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    color: #E8772E;
}
span.estrelaCheia {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.infoPreco {
    margin-bottom: 50px;
}
.infoPreco .preco {
    display: flex;
    align-items: center;

}
.infoPreco .space {
    width: 2px;
    height: 40px;
    background-color: #7f858d6e;
    margin: 0 10px;
}
.infoPreco .produtoPreco {
    font-size: 40px;
    color: #E8772E;
}
.infoPreco .btns {
    display: flex;
    margin-top: 25px;
}
.infoPreco a {
    display: flex;
    background-color: #E8772E;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
}
.infoPreco a.comprar {
    padding: 10px 50px;
}
.infoPreco a span {
    color: #fff;
    font-size: 30px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.produto .imagemProduto{
    max-height: 360px;
    padding: 25px;
}
/*Produtos similares*/
.prodsSim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.prodsSim .produtoSimilar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prodsSim .produtoSimilar p {
    font-size: 16px;
    font-weight: 700;
    color: #E8772E;
    text-align: center;
}
a.categ:hover {
    text-decoration: underline;
}
/*Descrição*/
.descritivo * {
    font-size: 14px;
    margin: 5px 0;
}
.descritivo h2,h3,strong {
    font-size: 16px;
}
.descritivo.fechado {
    display: none;
}
.descritivoProd .sectionTopic:hover {
    cursor: pointer;
    user-select: none;
}
/*Info tecnica*/
.infotecProd .sectionTopic:hover {
    cursor: pointer;
    user-select: none;
    align-items: center;
}
.infoTecnica * {
    font-size: 14px;
    margin: 5px 0;
}
.infoTecnica.fechado {
    display: none;
}
.infoTecnica h2,h3,strong {
    font-size: 16px;
}
.reviews .nota {
    display: flex;
    align-items: center;
}
.reviews .nota span {
    margin-bottom: 3px;
}
.reviews .review {
    margin-bottom: 30px;
}
.btnsReview {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnsReview div {
    display: flex;
    justify-content: space-between;
}
.btnsReview a {
    background-color: #E8772E;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    margin: 0 10px;
}
/*Pagina de pesquisa*/
.produtosResultados {
    display: flex;
}
.produtosResultados .filtro {
    min-width: 200px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    margin-right: 25px;
}
.produtosResultados .filtro label{
    display: block;
}
.produtosResultados .filtro input {
    width: 100%;
}
.produtosResultados .filtro input:hover {
    cursor: grab;
}
.produtosResultados .filtro input:active {
    cursor: grabbing;
}
.produtosResultados .filtro .btnAplicar {
    background-color: #0079E9;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    user-select: none;
}
.produtosResultados .filtro .btnAplicar:hover {
    background-color: #148dff;
    cursor: pointer;
}
.produtosResultados .ordenarLista {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    max-width: 1050px;
    margin-left: 10px;
    margin-top: 10px;
}
.ordenarLista .ordOptions {
    margin-left: 5px;
}
.ordenarLista .ordOptions a {
    font-size: 14px;
    font-weight: 600;
}
.ordenarLista .ordOptions a.ativo {
    color: #E8772E;
}
.produtosResultados .produtosList {
    display: flex;
    flex-wrap: wrap;
    min-width: 1145px;
}
body:has(.footerPesquisa) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/*Login e Cadastro*/
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.loginForm h2 {
    color: #E8772E;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.loginForm h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #148dff;
    display: block;
}
.loginForm label {
    display: inline-block;
    background-color: #fff;
    color: #63686e;
    position: relative;
    top: 10px;
    white-space: nowrap;
    padding: 0 5px;
    margin-left: 10px;
    font-weight: 600;
}
.loginForm input {
    display: block;
    border: 1px solid #7F858D;
    outline: 0;
    min-height: 40px;
    min-width: 386px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.loginForm .btnForm {
    color: #fff;
    display: flex;
    font-size: 16;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #E8772E;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
.loginForm .btnForm:hover {
    cursor: pointer;
    background-color: #ee975d;
}
.loginForm .btnForm span {
    color: #fff;
    margin-right: 5px;
}
.msgDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    margin-top: 15px;
    width: 400px;
    margin: 0 auto;
}
.msgDisplay p {
    font-weight: 700;
    color: #fff;
}
.sucesso {
    background-color: #148dff;
}
.erro {
    background-color: #f13a3a;
}
/*Review*/
.reviewContainer .estrelasReview {
    display: flex;
    align-items: center;
}
.estrelasReview select {
    margin-right: 5px;
}
span.estrelaRev {
    color: #E8772E;
    margin-bottom: 7px;
    font-size: 25px;
}
/*Pagina do usuario*/
.userIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 30px;
    background-color: #fff;
    padding: 25px 0;
    border-radius: 5px;
} 
.infoUser {
    display: flex;
    align-items: center;
}
.userIntro span {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #E8772E;
}
.bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.emailUsuario {
    display: flex;
    align-items: center;
}
.itensAcesso {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.acessConta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 5px;
    width: calc(33% - 40px);
}
.acessConta p {
    color: #7F858D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.acessConta span {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #E8772E;
    margin-right: 5px;
}
.acessConta a {
    display: flex;
    align-items:center;
    width:100%;
    text-align: center;
    justify-content: center;
}
.pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px 30px;
}
/*pre carrinho*/
.prodPreCarrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.infoProdPC {
    display: flex;
    align-items: center;
}
.prodPreCarrinho .precos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    text-align: center;
    margin-right: 25px;
}
.prodPreCarrinho .precos span {
    height: 60px;
    width: 1px;
    background-color: #7f858d62;
}
.btnsPreCarrinho {
    display: flex;
    justify-content: center;
}
.gotoCarrinho {
    padding: 10px;
    background-color: #E8772E;
    border-radius: 5px;
    margin-top: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0 10px;
}
/*Carrinho*/
.carrinhoCompras {
    display: flex;
    margin-top: 40px;
}
.produtosCarrinho {
    width: calc(75% - 30px);
    background-color: #fff;
    margin-right: 30px;
    padding: 15px;
    border-radius: 5px;
    min-height: 430px;
}
.produtoCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}
.infoProduto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.produtosCarrinho p {
    margin: 0;
    font-size: 12px;
}
.nomeProd:hover {
    text-decoration: underline;
}
.infoProduto p strong {
    font-size: 14px;
}
.infoPrecoPequeno {
    color: #7f858d;
    font-weight: 400;
}
.excluirItem a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.excluirItem span {
    color: #D50D0D;
    font-size: 25px;
}
.resumoCompra {
    width: 25%;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    max-height: 485px;
    position: sticky;
    top: 20px;
}
.infoprecos {
    padding: 10px;
    padding-top: 0px;
}
.infoprecos p {
    color: #7f858d;
    font-weight: 400;
}
.precoAvista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #E5FFF1;
}
.precoAvista p {
    color: #1f9050;
    margin: 0;
}
.precoAvista p b {
    color: #1F936F;
}
.btnsCarrinho {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnsCarrinho .gotoCarrinho {
    width: 80%;
    margin-top: 15px;
}
/*Forma de pagamento*/
.formasPagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formasPagamento a {
    border: 3px solid #42464D;
    width: 170px;
    padding: 20px;
    margin: 10px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-user-drag: none;
    user-select: none;
    border-radius: 5px;
}
.formasPagamento a.selected {
    border-color: #E8772E;
    background-color: #ffede2;
}
.cadCartao {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.cadCartao input {
    padding: 10px;
    margin-bottom: 10px;
}
.cartaoHalfSpace {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cartaoHalfSpace input {
    width: 47%;
}
.cadCartao select {
    padding: 10px;
}
/*Confirmar compra*/
.dadosCliente {
    margin-left: 10px;
}
/*Footer*/
footer {
    width: 100%;
    background-color: #004D8E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}
.footerPesquisa {
    margin: auto 0;
    margin-bottom: 0;
}
/*Animações*/
.fadeIn {
    animation: fadeIn linear .5s;
}
.config:hover {
    animation: configSpin linear infinite 5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}
@keyframes fadeInMenuLateral {
    from {
        opacity: 0;
    }to {
        opacity: 0.5;
    }
}
@keyframes slideInMenuLateral {
    from {
        left: -300px;
    }to {
        left: 0px;
    }
}
@keyframes configSpin {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(-360deg);
    }
}
header .fav:hover {
    animation: favHover .2s linear;
}
@keyframes favHover {
    0% {
        font-size: 25px;
    }50% {
        font-size: 26px;
    }100% {
        font-size: 25px;
    }
}
