/*Set inicial*/
* {
    font-family: "Poppins", sans-serif;
    color: #222;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #e8772e #ffffff;
}
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: #e8772e;
    border-radius: 5px;
    border: 3px solid #ffffff;
}
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}
span.material-symbols-outlined {
    user-select: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
/* HEADER */
header {
    background-color: #E8772E;
}
.header {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.barraPesquisa {
    display: flex;
    align-items: center;
    width: 60%;
}
.barraPesquisa span {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0079E9;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.barraPesquisa input {
    background-color: #fff;
    height: 30px;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.menuLateral {
    color: #fff;
    font-size: 30px;
}
.entrarOuCad {
    display: flex;    
    align-items: center;
    width: 150px;
}
.entrarOuCad p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.entrarOuCad a {
    font-size: 12px;
    color: #fff;
}
.entrarOuCad span {
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
}
.linksUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linksUser a {
    height: 25px;
}
.linksUser span {
    color: #fff;
    font-size: 25px;
}
.linksUser .fav {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 30px;
}
/*Main section index*/
.bannerIntro {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0035E7;
} 
.introIndex {
    background-color: #E6E6E6;
    max-width: 1400px;
    margin: 0 auto;
}
.recomendBar {
    background-color: #E8772E;
    margin-top: 40px;
}
.introIndex h2 {
    font-size: 20px;
    margin-left: 25px;
    padding: 10px;
}
.recomendBar h2 {
    color: #fff;
}
.recomendadosProdutos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produtos {
    max-width: 237px;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.produtos img {
    margin: 0 auto;   
    padding-top: 10px;
}
.produtos p.nome {
    display: -webkit-box;
    text-overflow: ellipsis;
    font-weight: 600;
    line-height: 1.125rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    justify-self: flex-start;
}
.produtos p.preco {
    color: #E8772E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.produtos p.avisoPix {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #7f858d;
}
.produtos a.comprar {
    text-align: center;
    padding: 5px;
    background-color: #E8772E;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.recomendadosProdutos .prox,.ant {
    display: flex;
    align-items: center;
}
.recomendadosProdutos .ant span, .prox span {
    font-size: 30px;
    text-align: center;
}
.recomendadosProdutos .ant span:hover, .prox span:hover{
    cursor: pointer;
    background-color: #7070702c;
    border-radius: 50%;
}
.introIndex .banner {
    margin: 0 auto;
    border-radius: 5px;
    width: 1330px;
}
.marcasRecomendadasTitle {
    display: flex;
    align-items: center;
}
.marcasRecomendadasTitle span {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 20px;
    color: #E8772E;
}
@keyframes teste {
    
}