/*Set inicial*/
* {
    font-family: "Poppins", sans-serif;
    color: #222;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #e8772e #ffffff;
}
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #e8772e;
    border-radius: 5px;
    border: 2px solid #ffffff;
}
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}
span.material-symbols-outlined {
    user-select: none;
}
.container1400 {
    max-width: 1400px;
    margin: 0 auto;
}
.container1330 {
    max-width: 1330px;
    margin: 0 auto;
}
.sectionTopic {
    display: flex;
    align-items: center;
}
.sectionTopic span {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 20px;
    color: #E8772E;
}
/* HEADER */
header {
    background-color: #E8772E;
}
.header {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.barraPesquisa {
    display: flex;
    align-items: center;
    width: 60%;
}
.barraPesquisa span {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0079E9;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.barraPesquisa input {
    background-color: #fff;
    height: 30px;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.menuLateral {
    color: #fff;
    font-size: 30px;
}
.entrarOuCad {
    display: flex;    
    align-items: center;
    width: 150px;
}
.entrarOuCad p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.entrarOuCad a {
    font-size: 12px;
    color: #fff;
}
.entrarOuCad span {
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
}
.linksUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linksUser a {
    height: 25px;
}
.linksUser span {
    color: #fff;
    font-size: 25px;
}
.linksUser .fav {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 30px;
}
/*Main section index*/
.bannerIntro {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0035E7;
} 
.introIndex {
    background-color: #E6E6E6;
    max-width: 1400px;
    margin: 0 auto;
}
.recomendBar {
    background-color: #E8772E;
    margin-top: 40px;
}
.introIndex h2 {
    font-size: 20px;
}
h2.tituloSection {
    margin-left: 25px;
    padding: 10px;
}
.recomendBar h2 {
    color: #fff;
}
/*Produtos recomandados*/
.recomendadosProdutos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.produtos {
    max-width: 237px;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.produtos img {
    margin: 0 auto;   
    padding-top: 10px;
}
.produtos p.nome {
    display: -webkit-box;
    text-overflow: ellipsis;
    font-weight: 600;
    line-height: 1.125rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    justify-self: flex-start;
}
.produtos p.preco {
    color: #E8772E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.produtos p.avisoPix {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #7f858d;
}
.produtos a.comprar {
    text-align: center;
    padding: 5px;
    background-color: #E8772E;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.prox,.ant {
    display: flex;
    align-items: center;
}
.ant span, .prox span {
    font-size: 30px;
    text-align: center;
}
.ant span:hover, .prox span:hover{
    cursor: pointer;
    background-color: #7070702c;
    border-radius: 50%;
}
/**/
.introIndex .banner {
    margin: 0 auto;
    border-radius: 5px;
    width: 1330px;
}
/*Marcas recomendadas*/
.marcasRecomendadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.marcasRecomendadas .marca {
    display: flex;
    min-width: 185px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}
.marcasRecomendadas .marca img {
    padding: 15px;
    width: 115px;
    height: 45px;
    padding-bottom: 0;
}
.marcasRecomendadas .marca h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-transform: uppercase;
}
.marcasRecomendadas a {
    padding: 5px;
    background-color: #E8772E;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
/*Departamentos*/
.departamentos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.departamento {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.departamento h2 {
    margin: 10px 0;
}
/*Produtos mais acessados*/
.produtosMaisAcessados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Produto*/
.produtoInfo {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.produto {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produto .infoGeral {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.infoGeral .space {
    width: 1px;
    height: 30px;
    background-color: #7f858d6e;
}
.produto .imagemProduto{
    height: 320px;
}
.tituloProduto {
    font-size: 24px;
    font-weight: 700;
}
/*Footer*/
footer {
    width: 100%;
    background-color: #004D8E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}
/*Animações*/
.fadeIn {
    animation: fadeIn linear .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}